@model TransforMe.ViewModels.MessageViewModel
@using TransforMe.Interface.Logics

@{
    IUserLogic userLogic = TransforMe.BLLFactory.LogicFactory.CreateUserLogic();
    var currentUser = userLogic.GetUser(User.Identity.Name);

}
<a href="@Url.Action("UserProfile", "User", new { userId = userLogic.GetUser(Model.Username).Id })">
    <img class="postimage" src="@Url.Content(Model.Image)" alt="This is a profile picture.">
</a>
<h1 style="font-size: 20px;padding-top: 2%;">@Model.Username</h1>
@{
    string deletemsgbtnid = $"deleteMessage{Model.Id}";
    if (currentUser.Id == userLogic.GetUser(Model.Username).Id)
    {
        <button id="@deletemsgbtnid" class="float-right btn-danger" style="margin: 1%;">Delete</button>
    }
}

<p class="d-xl-flex justify-content-xl-start">@Model.Text</p>
<small style="padding-right:2%;" class="d-xl-flex justify-content-xl-end">@Model.PostedAt</small>



<style>
    .delete-link:hover, a {
        color: black;
    }
</style>
<script>
    document.getElementById('@deletemsgbtnid').onclick = function () {
        alertify.confirm("Are you sure?",
                function () {
                    location.href = "@Url.Action("DeleteMessage", "Message", new {messageId = Model.Id})";
                }),
            function() {
                alertify.error('Cancelled');
            }
    }
</script>