@using TransforMe.Interface.Logics;
@using TransforMe.BLLFactory;
<!DOCTYPE html>
<html style="background-color:white;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - TransforMe</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arbutus+Slab">
    <link href="~/assets/css/Contact-Form-Clean.css" rel="stylesheet" />
    <link href="~/assets/css/Login-Form-Dark.css" rel="stylesheet" />
    <link href="~/assets/css/Map-Clean.css" rel="stylesheet" />
    <link href="~/assets/css/Navigation-Clean.css" rel="stylesheet" />
    <link href="~/assets/css/News-Cards.css" rel="stylesheet" />
    <link href="~/assets/css/Registration-Form-with-Photo.css" rel="stylesheet" />
    <link href="~/assets/css/Team-Boxed.css" rel="stylesheet" />
    <link href="~/assets/css/untitled.css" rel="stylesheet" />
    <link href="~/css/cardgroupshadow.css" rel="stylesheet" />
    <link href="~/css/alertify.min.css" rel="stylesheet" />
</head>
@{ 
    IUserLogic userLogic = LogicFactory.CreateUserLogic();
    var currentUser = userLogic.GetUser(User.Identity.Name);
}

<body class="bodytransforme">
    <div class="row" style="margin-top: 2%;width: 100%;">
        <div class="col leftcol">
            <div class="text-center box">
                <img class="rounded-circle" src="@Url.Content(ViewData["profilepic"].ToString())" style="width: 150px;max-width: 100%;">
                <h3 class="name">@currentUser.Firstname @currentUser.Lastname</h3>
                <p class="title" style="font-size: 12px;">@ViewData["followers"] FOLLOWERS | @TempData["followings"] FOLLOWING</p>
            </div>
            <div>
                <ul class="list-group text-center border rounded-0 shadow-sm">
                    <li class="list-group-item"><a asp-action="Index" asp-controller="User">Home</a></li>
                    <li class="list-group-item"><a href="#">Profile</a></li>
                    <li class="list-group-item"><a asp-action="ProgressionIndex" asp-controller="User">Progressions</a></li>
                    <li class="list-group-item"><a href="#">Agenda</a></li>
                    <li class="list-group-item"><a href="#">Settings</a></li>
                    <li class="list-group-item"><a href="#">Sign out</a></li>
                </ul>
            </div>
        </div>
        @RenderBody()
        <div class="col rightcol" style="max-width: 25%;">
            <div class="text-center">
                <strong>Hall of Fame</strong>
                <ul class="list-group text-center">
                    <li class="list-group-item d-block">
                        <a class="d-block" href="#" style="padding-bottom: 2%;">1. username1</a>

                        <a class="d-block" href="#" style="padding-bottom: 2%;">2. username2</a>
                        <a class="d-block" href="#" style="padding-bottom: 2%;">3. username3</a>
                        <a class="d-block" href="#" style="padding-bottom: 2%;">4. username4</a>
                        <a class="d-block" href="#">5. username5</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~assets/js/jquery.min.js"></script>
    <script src="~assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="~assets/js/stylish-portfolio.js"></script>
    <script src="~/js/alertify.min.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>