@using TransforMe.Interface.Logics;
@using TransforMe.BLLFactory;
<!DOCTYPE html>
<html style="background-color:white;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - TransforMe</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/alertify.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>
@{
    IUserLogic _userLogic = LogicFactory.CreateUserLogic();
    var currentUser = _userLogic.GetUser(User.Identity.Name);
    int followers = _userLogic.GetFollowersAmount(currentUser.Id);
    int following = _userLogic.GetFollowingAmount(currentUser.Id);
    string currentProfilepicture = "data:image/jpeg;base64," + Convert.ToBase64String(_userLogic.GetProfilePicture(currentUser.Id), 0, _userLogic.GetProfilePicture(currentUser.Id).Length);

}

<body class="bodytransforme">
    <div class="row">
        <div class="col leftcol">
            <div class="text-center box">
                <img class="rounded-circle" src="@Url.Content(currentProfilepicture)">
                <h3 class="name">@currentUser.Firstname @currentUser.Lastname</h3>
                <p class="title">@followers FOLLOWERS | @following FOLLOWING</p>
            </div>
            <div>
                <ul class="list-group text-center border rounded-0 shadow-sm">
                    <li class="list-group-item"><a asp-action="Index" asp-controller="User">Home</a></li>
                    <li class="list-group-item"><a href="@Url.Action("UserProfile", "User", new { userId = currentUser.Id})">Profile</a></li>
                    <li class="list-group-item"><a id="progression" asp-action="Index" asp-controller="Progression">Progressions</a></li>
                    <li class="list-group-item"><a href="#">Agenda</a></li>
                    <li class="list-group-item"><a href="@Url.Action("EditProfile", "User", new { userId = currentUser.Id})">Edit profile</a></li>
                    <li class="list-group-item"><a asp-action="SignOut" asp-controller="User">Sign out</a></li>
                </ul>
            </div>
        </div>
        @RenderBody()
        <div class="col rightcol">
            <form asp-controller="User" asp-action="SearchUser">
                <div class="form-group">
                    <input name="searchInput" placeholder="&#64;username" type="search" />
                    <button id="searchBtn" class="btn btn-outline-info" type="submit">Search</button>
                </div>
            </form>
            <div class="text-center">
                <strong>Hall of Fame</strong>
                <ul class="list-group text-center">
                    <li class="list-group-item d-block">
                        <a class="d-block" href="#">COMING SOON</a>
                        <a class="d-block" href="#">COMING SOON</a>
                        <a class="d-block" href="#">COMING SOON</a>
                        <a class="d-block" href="#">COMING SOON</a>
                        <a class="d-block" href="#">COMING SOON</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~assets/js/jquery.min.js"></script>
    <script src="~assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="~assets/js/stylish-portfolio.js"></script>
    <script src="~/js/alertify.min.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>