@model TransforMe.ViewModels.ProfileViewModel
@using TransforMe.Interface.Logics;
@{
    ViewData["Title"] = "UserProfile";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    IUserLogic userLogic = TransforMe.BLLFactory.LogicFactory.CreateUserLogic();
}

@{
    TempData["userId"] = Model.Id;
    var currentUser = userLogic.GetUser(User.Identity.Name);
}

<div class="col midcol">
    <form asp-controller="User">
        <div class="text-center box">
            <img class="rounded-circle" src="@Url.Content(Model.ProfilePicture.ToString())">
            <h3 class="name">@Model.Firstname @Model.Lastname</h3>
            <p class="title">@Model.Followers FOLLOWERS | @Model.Following FOLLOWING</p>
            @if (currentUser.Id != Model.Id)
            {
                <div class="btn-group" role="group">
                    <button id="followBtn" asp-action="UserProfile" onclick="location.href='@Url.Action("UserProfile", "User", new { userId = userLogic.GetUser(Model.Username).Id, followerId = currentUser.Id })'" class="btn btn-primary" type="submit">@TempData["followstatus"].ToString()</button>
                    @* <button id="likeBtn" asp-action="UserProfile" onclick="location.href='@Url.Action("UserProfile", "User", new { userId = userLogic.GetUser(Model.Username).Id, likerId = currentUser.Id })'" class="btn btn-primary" type="submit">@TempData["likestatus"].ToString()</button>*@
                </div>
            }

        </div>
    </form>

    <div>
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active text-center msgtab" role="tab" data-toggle="tab" href="#tab-1">Messages</a></li>
            <li class="nav-item"><a class="nav-link text-center prgtab" role="tab" data-toggle="tab" href="#tab-2">Progressions</a></li>
        </ul>
        <div class="interaction-content">
            <div class="tab-content">
                <div class="tab-pane active" role="tabpanel" id="tab-1">
                    <div class="text-left">
                        @foreach (var item in Model.Messages)
                        {
                            Html.RenderPartial("_MessagesPartial", item);
                        }
                    </div>
                </div>
                <div class="tab-pane text-center" role="tabpanel" id="tab-2">
                    @foreach (var item in Model.Progressions)
                    {
                        Html.RenderPartial("_ProgressionsPartial", item);
                    }
                </div>
            </div>
        </div>
    </div>
</div>






